//SASS PLAYGROUND
//Variables

//sass allows you to set "variables" for styles.
$font-stack: Helvetica, montserrat, roboto, sans-serif;
$primary-color: rgb(255, 40, 40);

body {
  //this calls $font-stack, expected output font: 100% Helvetica, sans-serif;
  font: 100% $font-stack;
  //This calls $primary-color, expected color: #333
  color: $primary-color;
}
